* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
}

.head_menu {
    width: 1200px;
    max-width: 95%;
    height: 100px;
    margin: auto;
    padding: 22px 0 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.user-name {
    display: none;
    margin-right: 20px;
    font-weight: bold;
    font-size: 18px;
    align-items: center;
}

.container {
    padding-bottom: 50px;
    max-width: 1200px;
    margin: auto;
}

.button-out {
    width: 80px;
    height: 40px;
    background-color: #1890FF;
    display: none; 
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #BFBFBF;
    cursor: pointer;
}

.search_address {
    flex: 0.8;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #BFBFBF;
    background-image: url(../img/home.svg);
    background-repeat: no-repeat;
    background-position: left 11px center;
    padding-left: 35px;
    padding-top: 4px;
}

::placeholder {
    color: #BFBFBF;
}

.buttons_head {
    display: flex;
}

.button_sigin {
    width: 100px;
    height: 45px;
    background-color: #1890FF;
    display: flex; 
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #BFBFBF;
    cursor: pointer;
}

.img_button_head {
    margin-right: 5px;
}

.button_basket {
    width: 115px;
    height: 45px;
    background-color: #FFFFFF;
    display: flex; 
    align-items: center;
    justify-content: center;
    color: #595959;
    border-radius: 5px;
    border: 1px solid #BFBFBF;
    cursor: pointer;
    margin-left: 10px;
}

.main {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
    margin: auto;
}

.pizza {
    background: #FFF1B8 no-repeat right -80px top -100px / 800px url(../img/3shzhsho-transformed.png);
}

.kebab {
    background: #D6E4FF url(../img/promo/kebab.png) no-repeat top 45px right 40px / 450px;
}

.vegetables {
    background: #FFF566 url(../img/promo/vegetables.png) no-repeat top 0 right 0 / 825px
}

.sushi {
    background: #FFF1F0 url(../img/promo/sushi.png) no-repeat top 10px right 15px / 500px
}

.promo {
    box-shadow: 0 7px 12px rgba(158, 158, 163, 0.1);
    border-radius: 10px;
    padding: 68px 70px;
    margin-bottom: 56px;
    height: 300px;
}

.text_promo {
    margin: 0;
}

.swiper-container {
    overflow: hidden;
}

.promo_title {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    margin: 0;
}

.text_promo {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 0;
}

.rest {
    width: 1200px;
    max-width: 95%;
    margin: auto;
    margin-top: 50px;
}

.head_rest {
    display: flex;
    align-items: center;
}

.rest_about_header {
    display: none;
    align-items: center;
}

.head_title_rest {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    margin-right: 30px;
}

.head_search_rest {
    width: 300px;
    height: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: no-repeat top 7px left 10px url(../img/search\ head.svg);
    padding-left: 35px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    margin-left: auto;
}

.cards_rest {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
} 

.logo {
    cursor: pointer;
}

.card_rest_menu {
    margin-top: 50px;
    display: none;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.card {
    flex-basis: 31%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    margin-bottom: 25px;
    text-decoration: none;
    cursor: pointer;
}

.img_card {
    width: 100%;
    object-fit: cover;
    height: 232px;
}

.rest_about {
    margin: 20px 10px 35px 10px;
}

.rest_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_name_rest {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    color: #000000;
}

.about_time_delivery {
    width: 55px;
    height: 22px;
    background-color: #262626;
    color: white;
    border-radius: 2px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rest_rating {
    height: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.rating {
    margin-right: 10px;
}

.category_and_price {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    color: #8C8C8C;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.price::after {
    content: "";
    width: 5px;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    background-color: #8C8C8C;
    border-radius: 50%;
    margin-left: 10px;
}

.footer {
    padding: 50px 0;
}

.footer_conteiner {
    width: 1200px;
    max-width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.footer_nav {
    display: flex;
}

.footer_ul {
    display: flex;
    list-style: none;
}

.footer_list {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #595959; 
}

.footer_list:not(:last-child) {
    margin-right: 15px;
}

.footer_social_icon:not(:last-child) {
    margin-right: 20px;
}

.title_name_food {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.about_food {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #8C8C8C;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.price_button_food {
    display: flex;
    align-items: center;
}

.button_food {
    margin-right: 25px;
    background: #1890FF;
    border-radius: 7px;
    padding: 10px 30px 8px 15px;
    border: 1px solid #BFBFBF;
    color: #FFFFFF;
    background-image: url(../img/btn\ basket.png);
    background-repeat: no-repeat;
    background-position: center right 10px;
}

.price_food {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
}

.card_food {
    flex-basis: 32%;
}

.modal {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}

.modal.active {
    display: flex;
}

.modal_container {
    flex: 0.6;
    padding: 30px 50px 50px 40px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #fff;
}

.modal_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.modal_title_text {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin: 0;
}

.modal_title_button {
    border: none;
    cursor: pointer;
    background-color: #fff;
}

.modal_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.modal_list_item {
    display: flex;
    justify-content: space-between;
}

.modal_list_item:not(:last-child) {
    margin-bottom: 15px;
}

.modal_list_text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin-right: auto;
}

.modal_list_price {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
}

.modal_list_buttons {
    display: flex;
    margin-left: 45px;
    align-items: center;
}

.modal_list_buttons_minus {
    margin-right: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid #40A9FF;
    border-radius: 2px;
    color: #40A9FF;
}

.modal_list_buttons_plus  {
    margin-left: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid #40A9FF;
    border-radius: 2px;
    color: #40A9FF;
}

.modal_list_buttons_number {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
}

.modal_buttons_buy {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal_button_buy_complete {
    margin-right: 20px;
    background: #1890FF;
    border-radius: 2px;
    padding: 8px 16px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.modal_button_buy_price {
    padding: 15px 20px;
    background-color: black;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    border-radius: 5px;
    margin-right: auto;
}

.modal_button_buy_cancel {
    padding: 8px 16px;
    color: #595959;
    border: 1px solid #D9D9D9;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.about_product_buy {
    margin-bottom: 30px;
}

.modal-auth {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 999;
}

.is-open {
    display: flex;
}

.modal-dialog {
    max-width: 780px;
    width: 95%;
    background: #ffffff;
    border-radius: 5px;
    margin: auto;
    padding: 40px 45px;
}

.modal-dialog-auth {
    width: auto;
    position: relative;
}

.label-auth {
    display: block;
    margin: 30px;
}

.label-auth span {
    width: 80px;
    display: inline-block;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}

.modal-title {
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}

.close {
    font-size: 36px;
    border: none;
    background-color: transparent;
}

.close-auth {
    font-size: 36px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.modal-body {
    margin-bottom: 22px;
}

.food-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 15px;
}

.food-name {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}

.food-price {
    margin-left: auto;
    margin-right: 47px;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
}

.food-counter {
    display: flex;
    align-items: center;
}

.counter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 32px;
    background: #ffffff;
    border: 1px solid #40a9ff;
    box-sizing: border-box;
    border-radius: 2px;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #40a9ff;
}

.counter-button:hover {
    background: #40a9ff;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.counter {
    font-size: 16px;
    line-height: 24px;
    margin-left: 10px;
    margin-right: 10px;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-auth .modal-footer {
    justify-content: flex-end;
}

.footer-buttons {
    display: flex;
    align-items: center;
}

.stars_rest {
    color: #FFC107;
    font-weight: 700;
    font-size: 15px;
    padding-top: 4px;
    margin-left: 5px;
    margin-right: 25px;
}

@media (max-width: 1340px) {
    .main {
        max-width: 950px;
    }

    .head_menu {
        max-width: 900px;
    }

    .footer_conteiner {
        max-width: 900px;
    }

    .promo {
        background-position: top -25px right -55px;
        background-size: 550px;
    }

    .category_and_price {
        font-size: 11px;
    }

    .rating {
        width: 40px;
        margin-right: 11px;
    }

    .price {
        margin-right: 10px;
    }

    .title_name_rest {
        font-size: 21px;
    }
}

@media (max-width: 990px) {
    .main {
        max-width: 750px;
    }

    .head_menu {
        max-width: 700px;
    }

    .footer_conteiner {
        max-width: 700px;
    }

    .promo {
        background-size: 400px;
        background-position: top -15px right -40px;
    }

    .promo_title {
        font-size: 25px;
        line-height: 35px;
    }

    .text_promo {
        font-size: 18px;
    }

    .content_promo_text {
        margin: 30px 0 10px 50px;
    }

    .footer_list {
        font-size: 15px;
    }

    .card {
        flex-basis: 49%;
    }

    .price::after {
        margin-left: 20px;
    }
}

@media (max-width: 770px) {
    .main {
        max-width: 550px;
    }

    .head_menu {
        max-width: 520px;
    }

    .footer_conteiner {
        max-width: 520px;
    }

    .logo_img {
        width: 80px;
    }

    .button_sigin {
        width: 80px;
        height: 40px;
        font-size: 15px;
    }

    .button_basket {
        width: 90px;
        height: 40px;
        font-size: 15px;
    }

    .content_promo_text {
        margin: 20px 0 0 50px;
    }

    .promo_title {
        font-size: 22px;
        line-height: 30px;
    }

    .text_promo {
        font-size: 16px;
    }

    .promo {
        background-size: 310px;
        background-position: top -10px right -40px;
    }

    .head_title_rest {
        font-size: 20px;
        
    }

    .head_search_rest {
        width: 200px;
        font-size: 12px;
    }

    .card {
        flex-basis: 45%;
    }

    .title_name_rest {
        font-size: 16px;
    }

    .title_name_food {
        font-size: 20px;
    }

    .rest_rating {
        margin-right: 0; 
    }

    .rating {
        width: 30px;
        margin-right: 5px;
    }

    .price {
        margin-right: 0px;
    }

    .img_footer {
        width: 80px;
    }

    .footer_list:not(:last-child) {
        margin-right: 10px;
    }

    .footer_list {
        font-size: 12px;
    }

    .footer_social_icon {
        width: 22px;
        height: 20px;
    }

    .footer_social_icon:not(:last-child) {
        margin-right: 10px;
    }

    .search_address {
        font-size: 15px;
    }

    .modal_title_text {
        font-size: 25px;
    }

    .modal_list_text {
        font-size: 15px;
    }

    .modal_list_price {
        font-size: 15px;
    }

    .modal_list_buttons_minus {
        width: 25px;
        height: 25px;
    }

    .modal_list_buttons_plus {
        width: 25px;
        height: 25px;
    }

    .modal_list_buttons_number {
        font-size: 12px;
    }

    .modal_button_buy_price {
        padding: 10px 15px;
        font-size: 12px;
    }

    .modal_button_buy_complete {
        padding: 5px 15px;
        font-size: 12px;
    }

    .modal_button_buy_cancel {
        padding: 5px 15px;
        font-size: 11px;
    }

    .modal_title_exit {
        width: 22px;
        height: 19px;
    }

    .modal_list_buttons {
        margin-left: 20px;
    }
}

@media (max-width: 580px) {
    .main {
        max-width: 90%;
    }

    .head_menu {
        max-width: 85%;
        flex-wrap: wrap;
    }

    .search_address {
        order: 5;
        margin-top: 10px;
        flex: 1;
    }

    .footer_conteiner {
        max-width: 85%;
    }

    .promo {
        background-image: none;
       
    }

    .content_promo_text {
        margin: 20px 0 0 30px;
    }

    .promo_title {
        font-size: 20px;
        line-height: 25px;
    }

    .text_promo {
        font-size: 14px;
    }

    .card {
        flex-basis: 60%;
    }

    .cards_rest {
        justify-content: center;
    }

    .price::after {
        margin-left: 15px;
    }

    .footer_ul {
        display: block;
    }

    .title_name_food {
        font-size: 20px;
    }

    .about_food {
        font-size: 13px;
    }

    .button_food {
        padding: 20px 45px 8px 15px;
        background-position: center;
        font-size: 0;
    }

    .price_food {
        font-size: 15px;
    }

    .price_button_food {
        justify-content: center;
    }

    .title_food {
        justify-content: center;
    }

    .modal_list_item {
        display: flex;
        flex-direction: column;
    }

    .modal_list_buttons {
        margin-left: 0;
    }

    .modal_list_text {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .modal_list_item {
        align-items: center;
        border-bottom: 1px black solid;
    }

    .modal_list_price {
        margin-bottom: 10px;
    }

    .modal_list_buttons {
        margin-bottom: 5px;
    }

    .modal_buttons_buy {
        align-items: center;
        flex-direction: column;
    }

    .modal_button_buy_price {
        margin: 0;
        padding: 5px 10px;
        font-size: 11px;
        margin-bottom: 10px;
    }

    .modal_button_buy_complete {
        margin: 0;
        margin-bottom: 10px;
    }

    .modal_list_price {
        font-size: 11px;
    }

    .modal_title {
        margin-bottom: 0; 
    }

    .modal_container {
        padding: 30px 30px 5px 30px;
    }

    .modal {
        overflow: auto;
    }
}

@media (max-width: 480px) {
    .footer_conteiner {
        flex-direction: column;
    }

    .footer_social {
        margin-top: 15px;
    }

    .head_rest {
        flex-wrap: wrap ;
    }

    .head_search_rest {
        flex: 1;
    }

    .button_signin_text {
        display: none;
    }

    .button_basket_text {
        display: none;
    }

    .head_title_rest {
        margin: auto;
    }

    .about_time_delivery {
        font-size: 10px;
    }

    .rest_about {
        margin: 20px 0 35px 0;
    }

    .title_name_rest {
        font-size: 13px;
    }    

    .modal_title_text {
        display: none;
    }

    .modal_title {
        justify-content: end;
    }

    .modal_container {
        padding: 30px 20px 10px 20px;
    }

    .modal_list_item:not(:last-child) {
        margin-bottom: 0; 
    }

    .modal_list_text {
        font-size: 10px;
    }

    .modal_list_price {
        margin-bottom: 5px;
    }

    .modal_list_text {
        margin-bottom: 0; 
    }

    .modal_list_price {
        line-height: 10px;
    }

    .modal_list {
        margin: 0;
    }
}